<div class="container mt-2">
  <div class="d-flex justify-content-between">
    <div class="display-4">Forms</div>
    <div>
      <button class="btn btn-sm btn-outline-primary mt-2 text-light" routerLink="/form-builder/create">
        Create
      </button>
    </div>
  </div>
  <div class="table-responsive" *ngIf="forms.length">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Form Title</th>
          <th>Submit Link</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let form of forms; let i = index">
          <td>{{form.title}}</td>
          <td><a href="{{'http://localhost:4200/form-builder/submit/' + form._id }}" target="_blank"
              rel="noopener noreferrer">
              {{'http://localhost:4200/form-builder/submit/' + form._id }}</a></td>
          <td class="text-center">
            <button class="btn btn-sm text-light" (click)="viewModal(i)"><i class="fa fa-eye"></i></button>
            <button class="btn btn-sm ms-2 text-light" (click)="onDelete(i)"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive" *ngIf="!forms.length">
    <span class="fst-italic">No forms found</span>
  </div>
</div>

<app-view-form *ngIf="viewForm" [display]="viewForm" [data]="selectedForm" (closeEvent)="closeHandler()">
</app-view-form>