$dark-primary: darkslateblue;
$dark-primary-2: darkslategrey;

// TEXT COLORS
$font-light-primary: white;
$font-dark-primary: black;
$chat-bg: darkcyan;

$border-dark: rgba(
  $color: #000000,
  $alpha: 0.7,
);
