<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': display}">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Edit form control</h4>
				<button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
						aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body" [formGroup]="data">
				<table class="table">
					<tr>
						<td>Control type</td>
						<td>{{formValue.type}}</td>
					</tr>
					<tr>
						<td>Label</td>
						<td>
							<div>
								<input type="text" formControlName="label">
							</div>
						</td>
					</tr>
					<tr>
						<td>id/name</td>
						<td>
							<div>
								<input type="text" formControlName="name">
							</div>
						</td>
					</tr>
					<tr *ngIf="formValue.type === 'text' || formValue.type === 'password' || formValue.type === 'number' ">
						<td>placeholder</td>
						<td>
							<div>
								<input type="text" formControlName="placeholder">
							</div>
						</td>
					</tr>
					<ng-container *ngIf="formValue?.type === 'radio' || formValue?.type === 'checkbox'">
						<tr>
							<td>Controls</td>
							<td><button class="btn btn-sm text-light" (click)="addControl()"><i class="fa fa-plus"></i></button>
							</td>
						</tr>
						<tr *ngFor="let control of getControlsArray(); let i = index" [formGroup]="control">
							<td>{{formValue?.type}}</td>
							<td>
								<div>
									<input type="text" formControlName="label" placeholder="Label">
								</div>
							</td>
							<td>
								<div>
									<input type="text" formControlName="value" placeholder="Value">
								</div>
							</td>
							<td><button class="btn btn-sm text-light" (click)="deleteControl(i)">
									<i class="fa fa-trash"></i></button></td>
						</tr>
					</ng-container>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-primary text-light" (click)="onSave()">Save</button>
				<button type="button" class="btn btn-outline-primary text-light" (click)="onCloseHandled()">Close</button>
			</div>
		</div>
	</div>
</div>