<nav class="navbar navbar-light p-3 shadow">
  <div>
    <ng-container *ngIf="isLoggedIn">
      <div class="d-flex">
        <button class="btn btn-sm text-light" routerLink="/users">Users</button>
        <button class="btn btn-sm text-light" routerLink="/form-builder">
          Form Builder
        </button>
      </div>
    </ng-container>
  </div>
  <button
    class="btn btn-sm btn-outline-primary text-light"
    *ngIf="isLoggedIn"
    (click)="onLogout()"
  >
    Logout
  </button>
</nav>
<router-outlet></router-outlet>
