<div class="container">
  <div class="row" cdkDropListGroup>
    <div class="col-2 me-4 mt-4">
      <div class="display-4 mb-2">Controls</div>
      <div class="controls-container" cdkDropList [cdkDropListData]="controls" class="drop-list"
        (cdkDropListDropped)="move($event)">
        <div class="list-item" *ngFor="let item of controls" cdkDrag>
          <div class="control-pick-container">
            <div class="label">
              {{ item.labelView }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9 mt-4" [formGroup]="form">
      <div class="display-4 mb-2">{{formId ? 'Edit' : 'Create'}} Form</div>
      <div class="d-flex justify-content-between">
        <h4 class="">
          <input type="text" name="title" id="title" formControlName="title" placeholder="Enter form title" />
          <small class="d-block text-danger fst-italic" *ngIf="getFormControlError('title', 'required')">Please enter
            title</small>
        </h4>
        <div>
          <button class="btn btn-sm btn-outline-primary text-light" (click)="onSave()">Save Form</button>
        </div>
      </div>
      <div id="selected-container" cdkDropList [cdkDropListData]="selected" class="drop-list"
        (cdkDropListDropped)="move($event); arrange($event)" formArrayName="form">
        <div class="list-item" *ngFor="let item of selected; let i = index" cdkDrag>
          <div class="control-container" *ngIf="!['checkbox', 'radio'].includes(item.type)" [formGroupName]="i">
            <div class="type-label">
              <label for="">{{ getControl(i).controls['label']?.value }}</label>
            </div>
            <div class="control-editor">
              <input [type]="item.type" [placeholder]="getControl(i).controls['placeholder']?.value || ''" />
            </div>
            <div class="edit-button">
              <button class="btn btn-sm text-light" (click)="onEditControl(i)"><i class="fa fa-pencil"></i></button>
              <button class="btn btn-sm text-light ms-1" (click)="onDeleteControl(i)"><i class="fa fa-trash"></i></button>
            </div>
          </div>
          <div class="control-container" *ngIf="['checkbox', 'radio'].includes(item.type)" formGroupName="{{ i }}">
            <div class="type-label">
              <label for="">{{ getControl(i).controls['label']?.value }}</label>
            </div>
            <div class="control-editor">
              <table class="table">
                <tr *ngFor="let control of getControlArray(i)">
                  <td>
                    <input [type]="item.type">
                  </td>
                  <td>
                    <label class="p-0">{{control.controls['label'].value}}</label>
                  </td>

                </tr>
              </table>
            </div>
            <div class="edit-button">
              <button class="btn btn-sm text-light" (click)="onEditControl(i)"><i class="fa fa-pencil"></i></button>
              <button class="btn btn-sm text-light ms-1" (click)="onDeleteControl(i)"><i class="fa fa-trash"></i></button>
            </div>
          </div>
        </div>
      </div>
      <small class="text-danger fst-italic"
        *ngIf="form.controls['form']?.touched && !form.controls['form']?.controls.length">Please at lease 1 form
        element</small>
    </div>
  </div>
</div>

<app-control-editor *ngIf="openModal" [display]="openModal" (closeEvent)="handleModalEven($event)"
  [data]="selectedControl" [index]="index"></app-control-editor>